.container {
    width: 800px;
    height: 864px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 288px;
    height: 864px;
    border-right-width: 2px;
    border-right-color: red;
}

.content {
}

.icon {
    width: 256px;
    height: 256px;
    flex-grow: initial;
    margin: 16px;
    -unity-background-image-tint-color: darkblue;
}

.icon:hover {
    -unity-background-image-tint-color: aqua;
}
